body {
    margin: 0;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
p {
    margin: 0;
    padding-bottom: 5px;
}
header, main, footer {
    min-width: 855px;
}
header {
    background: white;
    border-bottom:1px inset dimgray;
    overflow: auto;
    height: 100px;
}
footer {
    background: #f9e933;
    min-height: 160px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
}
main {
    background: white;
    overflow: auto;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
main .container {
    min-height: 380px;
}
header .h1 {
    float: left;
    width: 570px;
    align-content: center;
    color: firebrick;
    font-style: italic;
    font-weight: bolder;
    margin-top: 30px;
    font-size: 250%;
}
header .nav {
    padding-top: 20px;
    float: right;
    width: auto;
    align-content: center;
    color: firebrick;
    margin-top: 10px;
}
main .left {
    float: left;
    padding-top: 30px;
    width: 570px;
}
main .right {
    float: right;
    width: auto;
}
footer .footer1 {
    float: left;
    width: 570px;
}
footer .footer2 {
    float: right;
    width: auto;
    margin: 0;
}
footer .ul1 {
    float: left;
    margin:0;
}
footer .ul2 {
    float: right;
    margin: 0;
}
img {
    padding-top: 25px;
    height: 320px;
    width: auto;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-right: 30px;
}
h5 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 120%;
    margin: 0;
}
h3 {
    font-weight: bold;
    font-size: 170%;
    padding-top: 30px;
    padding-bottom: 10px;
}
a {
    color: firebrick;
    font-weight: bold;
}
.name {
    color: firebrick;
    font-style: italic;
    font-weight: bold;
}
h2 {
    margin:0;
    font-size: 200%;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}
.faq1 {
    width: 50%;
    float: left;
    margin-top: 15px;
}
.faq2 {
    width: 50%;
    float: right;
    margin-top: 15px;
}
.qstn {
    font-weight: bold;
}
.faq1 li, .faq2 li {
    padding-bottom: 20px;
}
.signup1 {
    padding: 8px 25px 20px 25px;
    width: 500px;
    margin: auto;
    text-align: center;
    font-style: italic;
}
.signup2 {
    width: 540px;
    margin: auto;
    text-align: center;
}
#uname, #email, #pwrd {
    width: 200px;
    height: 20px;
    border-radius: 3%;
}
input[type=submit] {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 3px 0 3px 0;
    width: 100px;
    border-radius: 3%;
    color: firebrick;
}
.ul1 li, .ul2 li {
    padding-bottom: 5px;
}
a:visited{
    color: darksalmon;
}
a:hover{
    color: red;
}